
    

    #div1{background-color: black;
        color: azure;
        display: grid;
        justify-content: center;
    }

    #div2 {display: grid;
        justify-content: center;
        

    }